@{
    ViewData["Title"] = "Eliminar";
    Layout = "_Layout";
}

<h3>¿Quieres eliminar esto?</h3>
<div>
    <h4>@ViewData["Sector"]</h4>
    <hr />
    <dl class="row dl-horizontal">
        @await RenderSectionAsync("Datos_dl", required: true)
    </dl>

    <form asp-action="Delete">
        @await RenderSectionAsync("Input_Id", required: true)
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>