/* _content/sistema-inmobiliaria-ulp-2025/Views/Shared/_Autenticacion.cshtml.rz.scp.css */
body[b-9b4x690rbx] {
    font-family: sans-serif;
}
/* _content/sistema-inmobiliaria-ulp-2025/Views/Shared/_Layout.cshtml.rz.scp.css */
#header_top_bar[b-6bs6r2g15c] {
  display: flex;
  justify-content: center;
  align-items: center;
}
